
@model IEnumerable<IntelliPrestamos.Models.Bancos>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th style="width:4ex"></th>
                <th>Banco ID</th>
                <th>Nombre Banco</th>
                <th>Web Banco</th>
                <th>Web Int Banking</th>
                <th class="text-right">Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a onclick="showModalConfig(this,  '@(item.Id_Bancos)', '_Get');" style="cursor: pointer; color: #337ab7;" data-url="@(Url.Action("Get", "Bancos"))">Visualizar</a>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Id_Bancos)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nombre_Banco)</td>
                    <td>@Html.DisplayFor(modelItem => item.Web_Banco)</td>
                    <td>@Html.DisplayFor(modelItem => item.Web_Int_Banking)</td>

                    <td class="text-right">
                        <a class="btn btn-xs btn-default add-tooltip" data-toggle="tooltip" onclick="showModalConfig(this, '@(item.Id_Bancos)','_Add');" data-original-title="Editar" data-container="body" data-url="@(Url.Action("Get", "Bancos"))"><i class="fa fa-pencil"></i></a>
                        @*<a class="btn btn-xs btn-danger add-tooltip" data-toggle="tooltip" onclick="showModalConfig(this,  '@(item.Tipo_Referencia_Id)', '_Delete');" data-original-title="Eliminar" data-container="body" data-url="@(Url.Action("Get", "ReferenceTipos"))"><i class="fa fa-times"></i></a>*@
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(function () {
        $('.table').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ Registros por Página",
                "zeroRecords": "No se encontraron coincidencias",
                "info": "Mostrando Página _PAGE_ de _PAGES_",
                "infoEmpty": "",
                "search": "Buscar:",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Próximo",
                    "previous": "Anterior"
                }
            }
        });
    });
</script>
